*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    background-color: gray;
    min-height: 100vh;
    column-gap: 15px;
    align-items: center;
    /*flex-wrap: wrap;*/
}
.item{
    background-color: white;
    border: 2px solid black;
    height: 200px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    flex-grow: 1;
}
.item1{
    flex-shrink: 2;
    order: 2;
}
.item2{
    order: 3;
}
.item3{
    order 1;
}
@media (max-width: 390px) {
    .item2{
        flex: 1 0 420px;
    }
}